 <div class="body">
 <div class="container-fluid parent-container pb-5 "  >
  <header  class=" container d-flex justify-content-center align-items-center  sticky-top p-5">
      <ul class="d-flex justify-content-center align-items-center  px-4 py-2 list-unstyled  "  >
          <li class="p-2"><a href="#about" class="d-block   text-capitalize text-white   ">about</a></li>
          <li class="p-2"><a href="#projects" class="d-block   text-capitalize text-white  ">projects</a></li>
          <li class="p-2"><a href="#testimonials" class="d-block   text-capitalize text-white  ">testimonials</a></li>
          <li class="p-2"><a href="#contact" class="d-block    text-capitalize text-white ">contact</a></li>
      </ul>
  </header>
  <main class=" mt-5 row "  id="about">
    <div class="  descrption col-8  text-center  mt-5 d-flex flex-column justify-content-center align-items-center">
        <p class="hint text-uppercase  ">Dynamic Web Magic with Angular.JS</p>
        <h1 class="big-text m-auto  fs-md-1 mb-2 text-capitalize">Transforming Concepts into Seamless <span class="diff-color">User Experiences</span> </h1>
        <h6 class="  pt-3 desc mb-5 fs-md-6" #descDiv> </h6>
        <div class="magic-button-container " >
          <button class="magic-button ">
            Show my work
            <i class="fa-solid fa-location-arrow"></i>
          </button>
        </div>
    </div>
    <div class="image col-4   " >
        <img class="img-portfolio " src="/assets/images/portofolio.jpg" alt="developer" width="250" >
    </div>
</main>

</div>
</div>
